_print_error_and_die() {
  printf >&2 'Error: %s\n' "$*"
  exit 1
}

_get_libglew_path() {
  local libglew_paths=(
    "${CONDA_PREFIX-}/lib/libGLEW.so"
    '/usr/lib/libGLEW.so'
    '/usr/lib/x86_64-linux-gnu/libGLEW.so'
  )
  for file in "${libglew_paths[@]}"; do
    if [[ -f ${file} ]]; then
      printf '%s' "${file}"
      return
    fi
  done
  _print_error_and_die 'Missing libGLEW.so'
}

# https://github.com/openai/mujoco-py/issues/268
_export_libglew() {
  local libglew_path
  libglew_path="$(_get_libglew_path)"
  export LD_PRELOAD="${libglew_path}"
}


_set_spinningup_env() {
  source activate spinningup ||
    _print_error_and_die 'Failed activating spinningup environment'
  _export_libglew
  # gym used to support both mujoco 1.5 and 2, but mujoco 2.0 had issues and it
  # was disabled in November 2019. As of 2020-12-09, Mujoco 2 is still not
  # supported, and 1.5 must be used. See: 
  # https://github.com/openai/gym/issues/1883#issuecomment-615468401
  if [[ ! -d ${HOME}/.mujoco/mjpro150/bin ]]; then
    _print_error_and_die "Missing MuJoCo 1.5 installation in ${HOME}/.mujoco/mjpro150/bin"
    exit 1
  fi
  # export MUJOCO_PY_MUJOCO_PATH="${PWD}/mujoco"
  export LD_LIBRARY_PATH="${LD_LIBRARY_PATH}:${HOME}/.mujoco/mjpro150/bin"
}

_set_spinningup_env
